<!DOCTYPE HTML>

<html>
	<head>
		<title>Caravan Commerce</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Caravan Commerce</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="aboutus.html">About Us</a></li>
				<li><a href="store.html">Store</a></li>
				<li><a href="checkout.html">Checkout</a></li>
			</ul>
		</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>View All Your Products</p>
						<h2>Checkout Page</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
		
			<section id="two" class="wrapper style2">
				<div class='container'>
					<div class='window'>
						<div class='order-info'>
						<div class='order-info-content'>
							<h2>Order Summary</h2>
							<div class='line'></div>
							
							<div class='line'></div>
							<div class='total'>
							<span style='float:left;'>
								<div class='thin dense'>VAT 19%</div>
								<div class='thin dense'>Delivery</div>
								TOTAL
							</span>
							<span style='float:right; text-align:right;'>
								<div class='thin dense'>$</div>
								<div class='thin dense'>$</div>
								$
							</span>
							</div>
						</div>
						</div>
						<div class='credit-info'>
						<div class='credit-info-content'>
							<table class='half-input-table'>
							<tr>
								<td>Please select your card: </td>
								<td>
								<div class='dropdown' id='card-dropdown'>
									<div class='dropdown-btn' id='current-card'>Visa</div>
									<div class='dropdown-select'>
									<ul>
										<li>Master Card</li>
										<li>American Express</li>
									</ul>
									</div>
								</div>
								</td>
							</tr>
							</table>
							<img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'></img>
							Card Number
							<input class='input-field'></input>
							Card Holder
							<input class='input-field'></input>
							<table class='half-input-table'>
							<tr>
								<td> Expires
								<input class='input-field'></input>
								</td>
								<td>CVC
								<input class='input-field'></input>
								</td>
							</tr>
							</table>
							<button class='pay-btn'>Checkout</button>

						</div>

						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul> 
				</div>
				
			</footer>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
	 <!-- update the version number as needed -->
		<script defer src="/__/firebase/8.2.2/firebase-app.js"></script>
		<!-- include only the Firebase features as you need -->
		<script defer src="/__/firebase/8.2.2/firebase-auth.js"></script>
		<script defer src="/__/firebase/8.2.2/firebase-database.js"></script>
		<script defer src="/__/firebase/8.2.2/firebase-firestore.js"></script>
		<script defer src="/__/firebase/8.2.2/firebase-functions.js"></script>
		<script defer src="/__/firebase/8.2.2/firebase-messaging.js"></script>
		<script defer src="/__/firebase/8.2.2/firebase-storage.js"></script>
		<script defer src="/__/firebase/8.2.2/firebase-analytics.js"></script>
		<script defer src="/__/firebase/8.2.2/firebase-remote-config.js"></script>
		<script defer src="/__/firebase/8.2.2/firebase-performance.js"></script>
		<!-- 
		  initialize the SDK after all desired features are loaded, set useEmulator to false
		  to avoid connecting the SDK to running emulators.
		-->
		<script defer src="/__/firebase/init.js?useEmulator=true"></script>
		<!-- <script>
		  document.addEventListener('DOMContentLoaded', function() {
			const loadEl = document.querySelector('#load');
			// // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
			// // The Firebase SDK is initialized and available here!
			//
			// firebase.auth().onAuthStateChanged(user => { });
			// firebase.database().ref('/path/to/ref').on('value', snapshot => { });
			// firebase.firestore().doc('/foo/bar').get().then(() => { });
			// firebase.functions().httpsCallable('yourFunction')().then(() => { });
			// firebase.messaging().requestPermission().then(() => { });
			// firebase.storage().ref('/path/to/ref').getDownloadURL().then(() => { });
			// firebase.analytics(); // call to activate
			// firebase.analytics().logEvent('tutorial_completed');
			// firebase.performance(); // call to activate
			//
			// // 🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥

			try {
			  let app = firebase.app();
			  let features = [
				'auth', 
				'database', 
				'firestore',
				'functions',
				'messaging', 
				'storage', 
				'analytics', 
				'remoteConfig',
				'performance',
			  ].filter(feature => typeof app[feature] === 'function');
			  loadEl.textContent = `Firebase SDK loaded with ${features.join(', ')}`;
			} catch (e) {
			  console.error(e);
			  loadEl.textContent = 'Error loading the Firebase SDK, check the console.';
			}
		  });
		</script> -->
		<script src = "checkout.js" defer></script>

	</body>
</html>